@use './variables' as *;
@use './mixins' as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Karla", sans-serif;
}

body {
    @include flex-layout(center, center);
    flex-direction: column;
    min-height: 100vh;
    background-color: $green-200;
}

h1 {
    font-weight: $weight-lg;
    color: $grey-900;
}

label, p, legend {
    font-size: 1em;
    font-weight: $weight-md;
}

label, legend {
    color: $grey-900;
}

fieldset {
    border: none;
}
