// ## Colors

// ### Primary

$green-200: hsl(148, 38%, 91%); // (lighter)
$green-600: hsl(169, 82%, 27%); // (medium)
$green-900: hsl(170, 78%, 18%); // (medium)
$red: hsl(0, 66%, 54%);

// ### Neutral

$white: hsl(0, 0%, 100%);
$grey-500: hsl(186, 15%, 59%);  // (medium)
$grey-900: hsl(187, 24%, 22%);  // (darker)


// space
$mg-space: 8rem;
$lg-space: 4rem;
$md-space: 3rem;
$ms-space: 2em;
$sm-space: 1.5em;
$xs-space: 1em;
$xxs-space: 12px;



// ### Font

$weight-lg: 700;
$weight-md: 400;
