@use './modules/base';
@use './modules/variables' as *;
@use './modules/mixins' as *;



p {
    margin-top: 8px;

    &.error__state {
        color: $red;
    }
}


section label:not( .checkbox__field label ) {
    display: block;
    margin-bottom: $xs-space;
}


main {
    margin: $md-space 0;
    // background-color: red;
}


// ======================= Form style ====================
form {
    background-color: $white;
    width: 650px;
    // width: 100%;
    padding: $ms-space;
    border-radius: $xxs-space;

    h1 {
        margin-bottom: $xs-space;
    }

    .names__fields, .radio__fields {
        @include flex-layout(baseline, center);
        gap: $xs-space;
    }

    button {
        width: 100%;
        padding: $xs-space;
        border: none;
        border-radius: 5px;
        background-color: $green-600;
        color: $white;
        font-size: 1em;
        font-weight: $weight-md;
        cursor: pointer;
    }

    button:hover {
        background-color: $green-900;
    }

}


// ================= names section =================

.names__fields {
    margin-bottom: $sm-space;

    div {
        width: 100%;
    }

    input {
        @include field-style(40px);
    }
}


// ========== email section =====================

.email__field {
    margin-bottom: $sm-space;

    input {
        @include field-style(40px);
    }
}


// ================= group  =======================

fieldset {
    margin-bottom: $sm-space;

    article {
        width: 100%;
    }

    legend {
        margin-bottom: $xs-space;
    }

    label {
        @include flex-layout(baseline, center);
        gap: $xxs-space;
        cursor: pointer;
    }

    div {
        padding: $xxs-space $xs-space;
        border: 1px solid $grey-900;
        border-radius: 5px;
        width: 100%;
        cursor: pointer;

        &:has(input:focus),
        &:has(input:checked) {
            border: none;
            outline: 2px solid $green-600;
            background-color: $green-200;
        }
    }

    div input {
        width: 20px;
        height: 20px;
        accent-color: $green-600;
        cursor: pointer;
    }

}


// ================== message section =====================

.message_field {
    margin-bottom: $sm-space;
    textarea {
        @include field-style(80px);
        padding: 8px $xs-space;
    }
}


// checkbox

.checkbox__field {
    margin-bottom: $ms-space;

    label {
        @include flex-layout(baseline, center);
        gap: 8px;
        cursor: pointer;
    }

    input {
        accent-color: $green-600;
        width: 15px;
        height: 15px;
        cursor: pointer;
    }
}



// ============== success message ===========
.success__message {
    z-index: 1000;
    background-color: $green-600;
    color: $white;
    padding: 8px 1em;
    width: 500px;
    margin: 2em auto;
    border-radius: 5px;

    position: fixed;
    top: 0%;
    left: 50%;
    transform: 0.3s ease;

    transform: translate(-50%, -100%);
    visibility: hidden;
    opacity: 0;

    &.show {
        transform: translate(-50%, 0%);
        visibility: visible;
        opacity: 1;
    }
    

    header {
        @include flex-layout(baseline, center);
        gap: 8px;
        margin-bottom: 12px;
    }

    p {
        margin: 0;
     }
}
    




@media screen and (max-width: 48rem) {
    main {
        width: 100%;
    }

    form {
        width: 90%;
        margin: 0 auto;
    }
}

@media screen and (max-width: 40rem) {
    .names__fields, .radio__fields {
        flex-direction: column;
        gap: 1.5em;
    }

    .success__message {
        width: 90%;
    }
}



// attribution
.attribution { 
    font-size: 11px; 
    text-align: center; 
}
.attribution a { 
    // color: hsl(228, 45%, 44%); 
    color: $green-600;
}